# Working with Pandas

**Question 1a:** Pandas is an open source Python library providing a selection of options to develop data analytics.

Let us first create a new dataframe using the following dataset (a dictionary).

data = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8]}
 
Create a dataframe out of this data and print it.

In [1]:
# import pandas as pd
import pandas as pd
 
# intialise data of a dictionary.
data = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

     City  Population
0  London       8.982
1  Athens       3.154
2   Paris       2.100
3    Rome       2.800

ðŸš¨

> A **dataframe** is a 2-dimensional labeled data structure with columns of potentially different types. For more information refer to the guidelines available here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

**Question 1b:** Create a dataframe for the given dictionary and print the data.

In [21]:
# import pandas as pd
import pandas as pd
 
# intialise data of a dictionary.
cities = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8]}
 
# Provide your solution here

df_cities = pd.DataFrame(cities)
print(df_cities)

     City  Population
0  London       8.982
1  Athens       3.154
2   Paris       2.100
3    Rome       2.800

**Question 2:** Use the the following dictionary (called data) to create a dataframe and print only the column called **city** and **population**.

In [24]:
data = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8],
        'Attraction':['Big Ben', 'Parthenon', 'Eiffel tower', 'Colosseum']}

# Provide your solution here

import pandas as pd
 
# Define a dictionary containing data
data = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8],
        'Attraction':['Big Ben', 'Parthenon', 'Eiffel tower', 'Colosseum']}
 
# Convert the dictionary into a DataFrame 
df = pd.DataFrame(data)
 
# select the columns
print(df[['City', 'Population']])

     City  Population
0  London       8.982
1  Athens       3.154
2   Paris       2.100
3    Rome       2.800

**Question 2b:** Print the city and the appropriate attraction.

In [25]:
data = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8],
        'Attraction':['Big Ben', 'Parthenon', 'Eiffel tower', 'Colosseum']}

# Provide your solution here

import pandas as pd
 
# Define a dictionary containing data
data = {'City':['London', 'Athens', 'Paris', 'Rome'],
        'Population':[8.982, 3.154, 2.1, 2.8],
        'Attraction':['Big Ben', 'Parthenon', 'Eiffel tower', 'Colosseum']}
 
print(df[['City','Attraction']])

     City    Attraction
0  London       Big Ben
1  Athens     Parthenon
2   Paris  Eiffel tower
3    Rome     Colosseum

**Question 3:** Upload the file called **Biostats.csv** and read it using the **read_csv** Pandas library. Print the data and have a look at the values.

The file is here: https://www.dropbox.com/s/3qkamuoso6nblxd/Biostats.csv?dl=0

In [28]:
# Provide your solution here

import pandas as pd

df = pd.read_csv('Biostats.csv')

df.head(10)

   Name Sex  Age  Height(in)  Weight(lbs)
0  Alex   M   41          74          170
1  Bert   M   42          68          166
2  Dave   M   32          70          155
3  Dave   M   39          72          167
4  Elly   F   30          66          124
5  Fran   F   33          66          115
6  Gwen   F   26          64          121
7  Hank   M   30          71          158
8  Luke   M   53          72          175
9  Jake   M   32          69          143

ðŸš¨

> There are a few **NaN** values in our dataset. These are cells that are empty and could potentially create problems to our further analysis.

**Question 4:** Query the dataset to print Name, Sex and Age.

In [29]:
# Provide your solution here

print(df[['Name','Sex','Age']])

    Name Sex  Age
0   Alex   M   41
1   Bert   M   42
2   Dave   M   32
3   Dave   M   39
4   Elly   F   30
5   Fran   F   33
6   Gwen   F   26
7   Hank   M   30
8   Luke   M   53
9   Jake   M   32
10  Kate   F   47
11  Luke   M   34
12  Myra   F   23
13  Neil   M   36
14  Omar   M   38
15  Page   F   31
16  Luke   M   29
17  Ruth   F   28

**Question 4b:**  Query the dataset to print Name and Age.

In [30]:
# Provide your solution here

print(df[['Name','Age']])

    Name  Age
0   Alex   41
1   Bert   42
2   Dave   32
3   Dave   39
4   Elly   30
5   Fran   33
6   Gwen   26
7   Hank   30
8   Luke   53
9   Jake   32
10  Kate   47
11  Luke   34
12  Myra   23
13  Neil   36
14  Omar   38
15  Page   31
16  Luke   29
17  Ruth   28

**Question 5:** Query the dataset to print the records for male employees, show the name and age.

In [32]:
# Provide your solution here

# Create variable with TRUE if Sex is M (male)
male = df['Sex'] == "M"

df[male][['Name','Age']] # if you want to extract only names and ages

    Name  Age
0   Alex   41
1   Bert   42
2   Dave   32
3   Dave   39
7   Hank   30
8   Luke   53
9   Jake   32
11  Luke   34
13  Neil   36
14  Omar   38
16  Luke   29

**Question 5b:** Query the dataset to print the records for the female employees, show the name, age and Height(in).

In [35]:
# Provide your solution here

# Create variable with TRUE if Sex is F (female)
female = df['Sex'] == "F"

df[female][['Name','Age','Height(in)']] # if you want to extract only names and ages

    Name  Age  Height(in)
4   Elly   30          66
5   Fran   33          66
6   Gwen   26          64
10  Kate   47          69
12  Myra   23          62
15  Page   31          67
17  Ruth   28          65

**Question 6:** Query the dataset to print the records for all employees called **Luke** or **Kate**.

In [ ]:
# Provide your solution here

# Create variable for people named Luke
luke = df['Name'] == "Luke"

# Create variable for people named Kate
kate = df['Name'] == "Kate"

# Select all cases where the employee is Luke or Kate
df[luke | kate]

    Name Sex   Age  Height(in)  Weight(lbs)
8   Luke   M  53.0        72.0        175.0
10  Kate   F  47.0        69.0        139.0
11  Luke   M   NaN        72.0        163.0
16  Luke   M  29.0        71.0          NaN

ðŸš¨

In dataframes we can use **&** for AND and **|** for OR.

**Question 7:** Describe the dataframe using the *describe* method.

In [ ]:
# Provide your solution here

df.describe()

             Age  Height(in)  Weight(lbs)
count  15.000000   17.000000    16.000000
mean   34.733333   69.470588   144.187500
std     8.171961    3.144790    22.435742
min    23.000000   64.000000    98.000000
25%    29.500000   67.000000   129.250000
50%    32.000000   70.000000   144.000000
75%    39.500000   72.000000   163.750000
max    53.000000   75.000000   175.000000

> We can extract useful statistics such as the oldest employee is 53, the youngest is 23, the average age is 34.73. Similar statistics are also generated automatically for the rest of the integer-based columns (height and weight).

**Question 8:** We can use the *loc* method to extract data, revise the slides and extract all the female employees using the *loc* method.

In [41]:
# Provide your solution here

df.loc[df['Sex'] == 'F']

    Name Sex  Age  Height(in)  Weight(lbs)
4   Elly   F   30          66          124
5   Fran   F   33          66          115
6   Gwen   F   26          64          121
10  Kate   F   47          69          139
12  Myra   F   23          62           98
15  Page   F   31          67          135
17  Ruth   F   28          65          131

**Question 8b:** Extract the data for **Elly** using the loc method.

In [46]:
# Provide your solution here

df.loc[df['Name'] =="Elly"]

   Name Sex  Age  Height(in)  Weight(lbs)
4  Elly   F   30          66          124

**Question 9:** Query the dataset to **count** the number of **male** and **female** employees. Print the results. You can use the *groupby* method as seend in class.

In [12]:
# Provide your solution here

df.groupby(['Sex']).count().filter(['Name','Age'])

     Name  Age
Sex
F       7    7
M      11   11

**Question 10:** Query the dataset to **count** how many empty values are in the **Age** column.

In [14]:
# Provide your solution here

df['Age'].isnull().sum()

0

**Question 11:** Study and run the following code. Add your comments to explain the script functionality.

In [47]:
# The following script will extract all the employees with age less than 30 years old

df.loc[df.Age<30]

    Name Sex  Age  Height(in)  Weight(lbs)
6   Gwen   F   26          64          121
12  Myra   F   23          62           98
16  Luke   M   29          71          176
17  Ruth   F   28          65          131

**Question 12:** Run the following code to create a new dataframe.

In [17]:
# Let us use the following dictionary from student data
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}

# Create a new dataframe and print it
df = pd.DataFrame(raw_data)
print(df)

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Molly  Jacobson   52            24             94
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62
4        Amy     Cooze   73             3             70

**Question 13:** Calculate the mean of the preTestScore.

In [18]:
# Provide your solution here

print(df[["preTestScore"]].mean())

preTestScore    12.8
dtype: float64

**Question 14:** Calculate the **max**imum value and then the **min**imum value of the preTestScore. Print both values.

In [19]:
# Provide your solution here

print(df[["preTestScore"]].max())
print(df[["preTestScore"]].min())

preTestScore    31
dtype: int64
preTestScore    2
dtype: int64

**Question 15:** Query the dataset to find the students with an age between 50 and 55 years old. You are adviced to use the **loc** method. Please note, in order to add more than one criteria you will need to use parenthesis to group your boolean queries to remove ambigiouty.

> This is a challenging task, so take your time.

In [ ]:
# Provide your solution here

df.loc[(df['age'] >=50) & (df['age'] <=55)]

  first_name last_name  age  preTestScore  postTestScore
1      Molly  Jacobson   52            24             94

**Question 16:** Create a function to query the dataset to search for a student using her/his last name. The function should return back the row from the dataframe. Make sure you prompt the user to input for a **name** to search.

In [20]:
# Provide your solution here

def search(name):
  result = df.loc[(df['last_name'] ==name)]
  return result

name_to_search = input("Enter a last name to search: ")
search(name_to_search)

Enter a last name to search: Jacobson

  first_name last_name  age  preTestScore  postTestScore
1      Molly  Jacobson   52            24             94